name: release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  build:
    name: tag release
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    steps:
      - name: checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 0
      - name: Release
        uses: softprops/action-gh-release@6da8fa9354ddfdc4aeace5fc48d7f679b5214090 # v2.4.1
        with:
          draft: true
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          files: |
            config/control-plane-components.yaml
            config/metadata.yaml
